<<<<<<< HEAD
container{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 11312px;
  background: white;
=======
.one{
  background-color: #b45875;
}

.two{
  background-color: #58a3b4;
>>>>>>> 9383d45f12bcbcdc60f58c075a3767b99ca899c9
}
